html
{
    height: 100%;
    max-width: 800px;
    margin: auto;
}

body
{
    height: 100%;
    vertical-align: middle;

    width: 720px;
    margin-top: 30px;

    line-height: 1.7em;

    font-family: serif;
    font-size: 22px;
    font-weight: 500;
}

header
{
    text-decoration: none;
}

code
{
    font-family: mono, monospace;
    font-size: 18px;
}

figcaption
{
    font-variant: bold;
}

h1
{
    font-size: 34px;
    line-height: 0em;
    font-weight: 500;
}

h2, h3, h4
{
    line-height: 1em;
    font-weight: 500;
    font-variant: small-caps;
}

a
{
    font-weight: 500;
}

small
{
    font-size: 13px;
    font-family: serif;
}

@media screen
{
    header
    {
        vertical-align: top;
        width: 250px;
        margin-top: 80px;
    }

    body
    {
        background-color: #202020;
        /* sorry */
        background-image: linear-gradient(#121010, #101210, #101012, #121010);
        color: #BABABA;
    }

    footer
    {
        vertical-align: bottom;
        padding-top: 100px;
        line-height: 1em;
        width: 350px;
        bottom: 30px;
    }

    code
    {
        color: #A0A0C0;
    }

    h2, h3, h4
    {
        color: #909090;
    }
    a
    {
        color: #39c;
    }
}

/*
  Local Variables:
    mode: css
    indent-tabs-mode: nil
  End:
*/
