/* Rewritten from orderedlist's minimal theme: https://github.com/orderedlist/minimal */

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Serif);

html
{
    height: 100%;
    display: table;
    margin: auto;
}

body
{
    background-image: url("files/cheesy/stars.png");
    background-repeat: repeat-x;
    
    background-color: #f0f0fa;

    height: 100%;
    display: table-cell;
    vertical-align: middle;

    color: #555;
    line-height: 1.7em;

    font-family: "IBM Plex Serif", serif;
    font-size: 14px;
    font-weight: light;
}

header
{
    vertical-align: top;
    display: inline-block;
    width: 250px;
}

section
{
    display: inline-block;
    width: 520px;
}

footer
{
    vertical-align: bottom;
    padding-top: 100px;
    line-height: 1em;
    width: 300px;
    bottom: 30px;
}


code
{
    color: #222;
    /* background: #f0f0f0; */
    font-family: "IBM Plex Mono", mono, monospace;
    font-size: 13px;
}

h1
{
    font-size: 30px;
    line-height: 0em;
}

h2, h3
{
    color: #222;
    line-height: 1em;
    font-weight: extra-light;
    font-variant: small-caps;
}

a
{
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}

small
{
    font-size: 10px;
}

ul
{
    list-style-type: circle;
}

hr
{
    border: 0em;
    background: #c5e5f5;
    height: 2px;
    margin: 0 0 0px;
    width: 30%;
}

/*
  Local Variables:
    mode: css
    indent-tabs-mode: nil
  End:
*/
