html
{
    height: 100%;
    display: table;
    margin: auto;
}

body
{
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    line-height: 1.7em;

    font-family: serif;
    font-size: 20px;
    font-weight: 500;
}

section
{
    display: inline-block;
    width: 620px;
    margin-top: 80px;
}

code
{
    font-family: mono, monospace;
    font-size: 14px;
}

h1
{
    font-size: 34px;
    line-height: 0em;
    font-weight: 500;
}

h2, h3, h4
{
    line-height: 1em;
    font-weight: 500;
    font-variant: small-caps;
}

h3, h4
{
    margin-bottom: -5px;
}

a
{
    font-weight: 500;
    text-decoration: none;
}

small
{
    font-size: 12px;
    font-family: serif;
}

ul
{
    list-style-type: circle;
}


span.smol
{
    font-variant: small-caps;
}

div.right
{
    font-size: 12px;
    font-family: serif;
    text-align: right;
}

@media screen
{
    header
    {
        vertical-align: top;
        display: inline-block;
        width: 250px;
        margin-top: 80px;
    }

    body
    {
        background-color: #e8e0e8;
        background-image: linear-gradient(#e0e0ef, #efe0e0);
        color: #555;
    }

    footer
    {
        vertical-align: bottom;
        padding-top: 100px;
        line-height: 1em;
        width: 350px;
        bottom: 30px;
    }

    code
    {
        color: #222;
        background: #f0f0f0;
    }

    h2, h3, h4
    {
        color: #222;
    }
    a
    {
        color: #39c;
    }
}

@media print
{
    header, footer
    {
        display: none;
    }
}

/*
  Local Variables:
    mode: css
    indent-tabs-mode: nil
  End:
*/
