/* Adapted from orderedlist's minimal theme: https://github.com/orderedlist/minimal */

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Serif);

html
{
    height: 100%;
    display: table;
    margin: auto;
}

body
{
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    padding: 60px;
    color: #777;
    line-height: 1.7em;

    font-family: "IBM Plex Serif", serif;
    font-size: 14px;
    font-weight: light;
}

header
{
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding-bottom: 50px;
}

section
{
    display: inline-block;
    width: 500px;
}

footer
{
    vertical-align: bottom;
    padding-top: 150px;
    line-height: 1em;
    width: 300px;
    bottom: 30px;
}


code
{
    color: #333;
    background: #f8f8f8;  

    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 2px 2px;
    overflow-x: initial;

    font-family: "IBM Plex Mono", mono, monospace;
    font-style: italic;
}

h1
{
    font-size: 30px;
    line-height: 0em;
}

h2, h3
{
    line-height: 1em;
    font-weight: extra-light;
    font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6
{
    color: #222;
    margin: 0 0 20px;
}

p, ul, ol, table, pre, dl
{
    margin: 0 0 15px;
}

h3, h4, h5, h6
{
    color: #494949;
}

a
{
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}

small
{
    font-size: 9px;    
}

ul
{
    list-style-type: circle;
}

hr
{
    border: 0em;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 0px;
    width: 25%;
}

/*
  Local Variables:
    mode: css
    indent-tabs-mode: nil
  End:
*/
